:root{
    --darker: #798777;
    --lighter: #A2B29F;
    --lightweight: #BDD2B6;
    --cream: #F8EDE3;

    --headerheight: 80px;
    --footerheight: 10px;
}

body {
    background-color: var(--lighter);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    height: var(--headerheight);
}

header h1 {
    text-align: center;
    margin: 0;
    padding-top: calc(var(--headerheight)/4);
    font-size: 3rem;
}


.settings_container {
    height: calc((95vh - var(--headerheight) - var(--footerheight))/3); 
}


.settings_container h2{
    margin: 15px 0px;
    text-align: center;
    font-size: 2.5rem;
}

.settings_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#filter_form section:nth-child(2){
    margin-top: 20px;
}

#filter_form input[type="text"]{
    width: 600px;
    height: 1.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;

    box-shadow: 3px 3px 0px var(--darker);
}

input[type="submit"]{
    margin-top: 25px;
    padding: 10px 25px;
    font-size: 1.8rem;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 0px 1px var(--darker);
    cursor: pointer;
    transition: opacity 0.3s ease;
}


input[type="submit"]:hover{
    opacity: 70%;
}

#toggle_server {
    background-color: var(--bgclr);
}

input[type="checkbox"]{
    margin: 0;
    width: 1.7rem;
    height: 1.7rem;
}

input[type="range"] {
    width: 600px;
    height: 20px;
    -webkit-appearance: none;
    background-color: var(--cream);
    outline: none;
    border-radius: 10px;
    margin: 0px 10px;
    margin-top: 10px;
    
    box-shadow: 3px 3px 0px var(--darker);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--darker);
    cursor: pointer;
  }

label{
    margin: 0;
    padding: 0;
}

footer {
    height: var(--footerheight);
    color: black;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
}